<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Employee Count</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeCount"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Age"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Attrition</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Attrition"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Business Travel</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="BusinessTravel"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Daily Rate</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="DailyRate"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Department"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Distance From Home</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="DistanceFromHome"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Education</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Education"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Education Field</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EducationField"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Employee Number</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeNumber"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Environment Satisfaction</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EnvironmentSatisfaction"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Gender"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Hourly Rate</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="HourlyRate"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Job Involvement</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="JobInvolvement"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Job Level</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="JobLevel"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Job Role</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="JobRole"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Marital Status</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="MaritalStatus"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Monthly Income</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="MonthlyIncome"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Monthly Rate</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="MonthlyRate"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Num Companies Worked</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="NumCompaniesWorked"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Over 18</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Over18"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Over Time</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="OverTime"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Performance Rating</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="PerformanceRating"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Relationship Satisfaction</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="RelationshipSatisfaction"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Standard Hours</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="StandardHours"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Stock Option Level</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="StockOptionLevel"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Total Working Years</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="TotalWorkingYears"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Training Times Last Year</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="TrainingTimesLastYear"
        placeholder = "Enter value">
    </div>
    <label class="col-sm-2 col-form-label">Work Life Balance</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="WorkLifeBalance"
        placeholder = "Enter value">
    </div>

    <button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">
        Add
    </button>

</div>
